PLASMO_PUBLIC_EXTENSION_ID=mlbabcdeebjjohfjhgjdhgeccmploghb

## dev polygonAmoy
# PLASMO_PUBLIC_ALCHEMY_RPC=
# PLASMO_PUBLIC_CONTRACT_ADDRESS=0x07517c431616Ad06e3581e365F766a3A283062bb
# PLASMO_PUBLIC_CHAINLINK_CONTRACT_ADDRESS=0x4117daA756625E1A767e477E606754C6b3A48e95
# PLASMO_PUBLIC_THE_GRAPH_ENDPOINT=https://api.studio.thegraph.com/query/72269/social-king/v0.0.1

## dev polygon
PLASMO_PUBLIC_ALCHEMY_RPC=
PLASMO_PUBLIC_CONTRACT_ADDRESS=0xD8266130898E157A27a227bc655CdF4BC0727fB1
PLASMO_PUBLIC_CHAINLINK_CONTRACT_ADDRESS=0xD8ff54a41D50b34F42a79615355d9FdC9F8E401C
PLASMO_PUBLIC_CHAINLINK_USD_CONTRACT_ADDRESS=0xC4f13eE12061867E7c3a750AC7B1Fed33C04E619
PLASMO_PUBLIC_THE_GRAPH_ENDPOINT=https://api.studio.thegraph.com/query/72269/socialking-polygon/v0.0.1